.how-to {
  width: 60%;
  margin: 5em auto;
}

.how-to p {
  margin: 1em 0;
}

.how-to h3 {
  text-transform: capitalize;
  margin: 1em 0;
  font-weight: 900;
}
.how-to h2 {
  font-size: 1.5em;
  text-transform: capitalize;
  margin: 1em 0;
  font-weight: 900;
}
